html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  counter-reset: heading;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.3;
  color: $dark;

  &::before {
    content: attr(data-headline);
    position: absolute;
    left: 0;
    top: -34px;
    padding-left: 52px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 1.4rem;
    white-space: nowrap;
    background-image: url("../images/line.svg");
    background-position: center left;
    background-repeat: no-repeat;
  }

  &--big {
    font-size: 4.8rem;

    @include rmax($sm) {
      font-size: 2.9rem;
    }
  }

  &--sm {
    font-size: 3.2rem;
  }

  &--center {
    text-align: center;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include rmax($sm) {
    font-size: 2.9rem;
  }
}

.text {
  font-family: "Lato";
  line-height: 1.5;

  @include rmax($sm) {
    font-size: 1.4rem;
  }
}

.btn {
  outline: transparent;
  border: none;
  border-radius: 30px;
  padding: 16px 40px;
  min-width: 370px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.6rem;
  color: $white;
  background-color: $red;
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 4px rgba($red, 0.5);
  }

  &:hover {
    background-color: #c44943;
  }

  &:active {
    background-color: #a73e39;
  }

  &--sm {
    min-width: 270px;
  }

  @include rmax($sm) {
    min-width: 290px;
    font-size: 1.3rem;
  }
}

.visually-hidden {
  /* stylelint-disable */
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  /* stylelint-enable */
}

.slider-btns {
  display: flex;
  justify-content: space-between;

  &__btn {
    outline: transparent;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-image: url("../images/slider-btn-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $white;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;

    &:focus {
      box-shadow: inset 0 0 0 4px rgba($dark-purple, 0.5);
    }

    &:hover {
      background-color: $light-purple;
    }

    &:active {
      background-color: $dark-purple;
    }

    &:last-child {
      transform: rotate(180deg);
    }
  }
}

// BEM Helper

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.fz0 {
  font-size: 0;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0 10px 24px rgba($shadow, 0.12);
}