// Colors
$white: #fff;
$dark-white: #fafafa;
$dark: #23283b;
$black: #000;
$blue: #0252ff;
$dark-blue: #3035c4;
$blue-shadow: #000b44;
$shadow: #495fd3;
$green: #4caf50;
$red: #e6514a;
$gold: #e6c44a;
$light-purple: #dedeff;
$dark-purple: #9d9dce;

// Breakpoints
$xl: 1200;
$md: 768;
$sm: 575;