.benefits {
  padding: 175px 0 60px;

  .container {
    max-width: 1250px;
  }

  &__title {
    margin: 0 0 32px 25px;
  }

  &__list {
    flex-wrap: wrap;
    justify-content: center;

    @include rmax($sm) {
      justify-content: center;
    }
  }

  &__item {
    margin: 0 5px 32px;
    padding: 0 10px;
    max-width: 190px;
  }

  &__icon {
    margin: 0 auto 24px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
  }

  &__text-b {
    font-weight: 800;
  }

  @include rmax($md) {
    padding-top: 96px;
  }

  @include rmax($sm) {
    padding-top: 72px;
  }
}