</main>

<footer class="footer" style="background-image: url('images/footer-bg.jpg');">
  <div class="container">
    <h2 class="footer__title title title--sm title--center">
      Остался вопрос или нужна консультация? Свяжитесь с нами, мы с радостью вам поможем
    </h2>
    <div class="footer__btns d-flex">
      <a class="footer__btn btn btn--sm wow bounceIn" href="mailto:@mail@mail.com">Задать вопрос</a>
      <button class="footer__btn btn btn--sm wow bounceIn" type="button" data-path="order">Записаться на курс</button>
    </div>
  </div>
</footer>