<div class="modals">
  <div class="modals__overlay">
    <div class="modals__modal modal-info" data-target="info-a1">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="A1">начальный уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-a2">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="A2">базовый уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-b2">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="B2">уровень выше среднего</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-c1">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="C1">продвинутый уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-order" data-target="order">
      <button class="modals__close" type="button"></button>
      <div class="modal-order__image" style="background-image: url('images/modal-form.jpg');"></div>
      <div class="modal-order__inner">
        <h2 class="modal-order__title title title--sm">Подача заявки</h2>
        <p class="modal-order__text text">
          Оставьте свои контактные данные и наш менеджер свяжется с Вами в ближайшее время
        </p>
        <form class="modal-order__form" action="#">
          <label>
            <span class="modal-order__label">Ваше имя и фамилия</span>
            <input class="modal-order__input" type="text" placeholder="Имя и Фамилия">
          </label>
          <label>
            <span class="modal-order__label">Ваш телефон/whatsapp</span>
            <input class="modal-order__input" type="tel" placeholder="Телефон/Whatsapp">
          </label>
          <label>
            <span class="modal-order__label">Ваш e-mail</span>
            <input class="modal-order__input" type="email" placeholder="E-mail">
          </label>
          <button class="modal-order__btn btn" type="submit">Подать заявку</button>
        </form>
      </div>
    </div>
  </div>
</div>