<div class="modals">
  <div class="modals__overlay">
    <div class="modals__modal modal-info" data-target="info-a1">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="A1">начальный уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-a2">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="A2">базовый уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-b2">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="B2">уровень выше среднего</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <div class="modals__modal modal-info" data-target="info-c1">
      <button class="modals__close" type="button"></button>
      <h3 class="modal-info__lvl" data-skills-lvl="C1">продвинутый уровень</h3>
      <span class="modal-info__caption">Ваши навыки:</span>
      <p class="modal-info__text text">
        По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для
        вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час,
        использовать цифры от 1 до 1 000.
      </p>
      <p class="modal-info__text text">
        Вы можете поддержать беседу на бытовые темы (ресторан, магазин, улица), задать простые вопросы собеседнику или
        ответить самому на темы бытовой жизни: об отдыхе, о еде и напитках, о ежедневных делах. В числе ваших навыков —
        написание простых предложений с приветствиями и поздравлениями друзьям и близким.
      </p>
    </div>
    <!-- <div class="modals__modal" data-target="order">

    </div> -->
  </div>
</div>